    body {
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    header,
    main,
    footer {
        max-width: 760px;
        margin: 0 5%;
    }
    
    header,
    footer {
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 15px;
        background-color: red;
        color: white;
    }
    
    header img {
        float: right;
        width: 200px;
        height: auto;
        margin-top: -5%;
    }
    
    p {
        text-align: center;
    }