@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

/*Typography*/

h1,
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h3,
p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.34rem;
    color: #A80053;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

p {
    font-size: 0.8rem;
}


/*TOP*/

.top {
    display: none;
    color: #A80053;
    text-align: center;
    font-weight: bolder;
    background-color: white;
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.009rem 0;
}


/*Menu*/

nav {
    height: 20%;
    padding: 0;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 0;
}

.active {
    background-color: #FFEBF5;
    color: red;
    border: 1px solid #A80053;
    box-shadow: 0 0 30px #A80053;
}

nav button p {
    padding: 1%;
    margin: 2% auto 2% auto;
}

nav ul.hide {
    display: none;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .2rem 2%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: white;
    color: #A80053;
    border: 1px solid #A80053;
}

header img {
    float: left;
    margin: 0;
    width: 25%;
    margin: 0rem;
    padding: 0rem;
}

header h1 {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    color: #A80053;
    margin: 0;
    text-justify: center;
}

.description {
    padding: 0;
    margin: 0;
    color: red;
    text-align: left;
    position: relative;
    left: 1rem;
}

header {
    width: 85%;
    margin: 1rem auto 2rem auto;
    padding: 0;
}


/*structures*/

html {
    background-color: #FFEBF5;
}

main {
    background-color: white;
    padding: 1rem 0 0 0;
    margin-bottom: -1rem;
}

footer {
    width: 95%;
    margin: 0 auto;
}

nav,
footer {
    background-color: #A80053;
    color: white;
}

footer {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

title {
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

iframe {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.contato {
    background-color: #FFEBF5;
    margin-bottom: 0;
    padding: 1rem;
    margin: 1rem auto 0 auto;
    max-width: 80%;
}

.contact-pics img {
    width: 40%;
    display: flex;
    margin: 0 auto;
}

.contact-pics {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    gap: 10px;
    width: 40%;
}

.insta {
    grid-column: 1;
    padding: 0;
    margin: 0;
}

.face {
    grid-column: 2;
    padding: 0;
    margin: 0;
}

.whats {
    grid-column: 3;
    padding: 0;
    margin: 0;
}

.twitter {
    grid-column: 4;
    padding: 0;
    margin: 0;
}


/*==========MAIN CONTENT==================*/

.container {
    color: black;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    max-width: 80%;
    border: 1px solid #A80053;
}


/*==========PLACE PAGE CONTENT HERE==================*/

.hero {
    color: black;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    max-width: 80%;
}

.hero img {
    margin: 0 auto -0.5rem auto;
    width: 100%;
}

.summary {
    display: block;
    background: radial-gradient(#eee, #FFEBF5);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #A80053;
    opacity: .9;
    margin: 0;
}

.summary h3 {
    color: red;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.symbol {
    font-size: 230%;
    padding: 1rem 0;
    margin: 0;
    background-color: #FFEBF5;
}

.day-forecast {
    margin: 0;
    padding: 1rem 0;
    border: 1px solid #A80053;
    background-color: #A80053;
    color: white;
}

.day {
    flex: 1 0 1%;
    padding: 0;
    border: 1px solid #A80053;
}

.temperature {
    background-color: #FFEBF5;
    margin: 0;
    padding: 1rem 0;
}

.article-div {
    background-color: #FFEBF5;
}

.article-div h2 {
    text-align: left;
    color: red;
    font-weight: red;
}

.author {
    text-align: left;
}

.article-div img {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding-top: 1rem;
}

.article {
    text-align: justify;
}